<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/index.css' />
</head>
<body>
	<div class="menu">
		<div class="menu_btn">
			<div class="containerBox">
				<div class="picture">
					<img src="./images/kongtiao.png" alt="">
				</div>
				<div class="name">
					<span>空调</span>
				</div>
			</div>
		</div>
		<div class="menu_btn">
			<div class="containerBox">
				<div class="picture">
					<img src="./images/xiyiji.png" alt="">
				</div>
				<div class="name">
					<span>洗衣机</span>
				</div>
			</div>
		</div>
		<div class="menu_btn">
			<div class="containerBox">
				<div class="picture">
					<img src="./images/ranqizao.png" alt="">
				</div>
				<div class="name">
					<span>燃气灶</span>
				</div>
			</div>
		</div>
	</div>
	<div class="menu">
		<div class="menu_btn">
			<div class="containerBox">
				<div class="picture">
					<img src="./images/bingxiang.png" alt="">
				</div>
				<div class="name">
					<span>冰箱</span>
				</div>
			</div>
		</div>
		<div class="menu_btn">
			<div class="containerBox">
				<div class="picture">
					<img src="./images/reshuiqi.png" alt="">
				</div>
				<div class="name">
					<span>热水器</span>
				</div>
			</div>
		</div>
		<div class="menu_btn">
			<div class="containerBox">
				<div class="picture">
					<img src="./images/xiashuidao.png" alt="">
				</div>
				<div class="name">
					<span>下水道</span>
				</div>
			</div>
		</div>
	</div>
	<div class="menu">
		<div class="menu_btn">
			<div class="containerBox">
				<div class="picture">
					<img src="./images/kongtiao.png" alt="">
				</div>
				<div class="name">
					<span>空调</span>
				</div>
			</div>
		</div>
		<div class="menu_btn">
			<div class="containerBox">
				<div class="picture">
					<img src="./images/kongtiao.png" alt="">
				</div>
				<div class="name">
					<span>空调</span>
				</div>
			</div>
		</div>
		<div class="menu_btn">
			<div class="containerBox">
				<div class="picture">
					<img src="./images/kongtiao.png" alt="">
				</div>
				<div class="name">
					<span>空调</span>
				</div>
			</div>
		</div>
	</div>
</body>
</html>