body,h1,h2,h3,p,div,ol,ul,input,button {
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    -webkit-text-size-adjust: none;
    background: #fcfcfc;
    max-width: 100%;
    overflow-x: hidden;
}
.menu{
    display: flex;
    height: 120px;
    width: 100%;
    /*border-top: 1px solid #ccc;*/
    border-left: 1px solid #ccc;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.menu_btn{
    flex: 1;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.picture{
    margin-top: 10px;
    margin-bottom: 10px;
}
.picture img{
    width: 50px
}
.name{
    color: #858585;
    font-size: 9pt
}
.containerBox{
    margin-top: 25px;
    margin-bottom: 10px
}